In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression

In [2]:
dataset = pd.read_csv('./dataset/50_Startups.csv')

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
y=dataset['Profit']

In [5]:
x=dataset[['R&D Spend', 'Administration', 'Marketing Spend', 'State']]

In [6]:
state=dataset['State']

In [7]:
#Label Encoding
le=LabelEncoder()
state=le.fit_transform(state)

In [8]:
state=state.reshape(-1,1) #converting 1D--->2D

In [9]:
#OneHotEncoding
ohe=OneHotEncoder()
state_dummy=ohe.fit_transform(state)

In [10]:
type(state_dummy)

scipy.sparse.csr.csr_matrix

In [11]:
state_final=state_dummy.toarray()

In [12]:
type(state_final)

numpy.ndarray

In [13]:
#removing one column inorder to overcome from dummyvariable trap
state_final = np.delete(state_final,2,1)

In [14]:
x=x.values #converting from pandas to numpyarray

In [15]:
type(x)

numpy.ndarray

In [16]:
x_final=np.hstack((x,state_final))
x_final=np.delete(x_final,3,1)

In [17]:
model=LinearRegression()

In [18]:
model.fit(x_final,y)

LinearRegression()

In [19]:
model.coef_

array([ 8.06023114e-01, -2.70043196e-02,  2.69798610e-02,  4.18870191e+01,
        2.40675812e+02])